@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --line-color: #D0D0D0;
    --orange: #EF6315;
    --orange-light: #f6d6cc;
    --grey: #828080;
}
  
body{
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}

.pl-7em{padding-left: 7em;}
    .pl-7em:before{
        content: "";
        position: absolute;
        width: 1px;
        height: 300%;
        background: var(--line-color);
        left: 3.25em;
        top: 0;
        z-index: -1;
    }

.title-h2{font-size: 1.2em;padding-left: 113px;position: relative;}
        .title-h2:before{
            content: "";
            height: 1px;
            width: 50px;
            position: absolute;
            left: 52px;
            background: var(--line-color);
            top: 12px;
        }

.transition{transition: all .2s ease;}
.relative{position: relative;}
.mb-100{margin-bottom: 100px;}
button{border-radius: 2em;background: var(--orange);padding: 10px 46px 10px 30px;color: var(--white);position: relative;}
button i{
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 14px;
}
.btn:hover button{padding: 10px 56px 10px 30px;}
ul{list-style-type: none;}

/* NAVBAR */
.navbar-nav .nav-link{color: var(--black);}
    .navbar-nav .nav-link.active, .navbar-nav .nav-link:hover{color: var(--orange);}
.small-h1{font-size: 1.25em;}



/* EXPERIENCE */
.experience{position: relative;}
    .experience:before{
        content:"" ;
        position: absolute;
        left: 0;
        top: 10em;
        width: 1px;
        height: 58%;
        background: var(--orange);
    }
    .experience li{
        position: relative;
    }
        .experience li:before{
            content: "";
            position: absolute;
            left: -1.875em;
            top: 0.280em;
            width: 12px;
            height: 12px;
            background: var(--orange);
            border-radius: 20px;
        }
        .experience li h3{
            font-size: 1em;
            font-weight: 700;
            margin-bottom: 0;
        }
        .experience li span{
            font-weight: 100;
        }


 /* PROJECT */
.projects{position: relative;}
    .projects .cards{gap: 1%;}
        
        .projects .card-project{
            width: 34%;
            height: 270px;
            background: no-repeat center / auto 120%;
            border-radius: 1em;
            overflow: hidden;
            display: flex;
            align-items: flex-end;
            padding: 1.5em 2em;
            text-decoration: none;
            filter: grayscale(60%);
            /* transition: filter 0.3s ease; */
            transition: all .3s ease;
        }
        .projects .card-project:hover{filter: grayscale(0%);background-size: auto 100%;}
            .projects .card-project .data{
                background-color: rgba(0, 0, 0, 0.7);
                border-radius: 0.5em;
                padding: 12px 20px;
                width: 100%;
            }
            .projects .card-project h3{
                color: var(--white);
                backdrop-filter: blur(5px);
                font-size: 1.1em;
                font-weight: 600;
                margin-bottom: 4px;
            }    

/* STUDIES */
.studies-list{padding-left: 7em;}
    .studies-list h4{font-size: 1em;}
    .studies-list h5{font-size:0.875em;font-weight: 100;}
    .studies-list .date{font-size:0.75em;color: var(--grey);}
    .studies-list .title-h4{font-size:0.625em;color: var(--grey);text-transform: uppercase;letter-spacing: 0.188em;}
    

footer{background: var(--grey);color: var(--white);}
    footer ul{padding-left: 8em;}
        footer li{margin-top: 4px;position: relative;}
            footer li i{
                position: absolute;
                left: -26px;
                top: 7px;
            }
    footer a{color: var(--white);text-decoration: none;}






/* 

@media only screen and (min-width: 767px) {
    .logo{
        height: 40px;
    }
    .margin-n{
        margin-left: -1.75em;
        margin-right: -1.75em;
    }
} */