@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
    --black: #000;
    --line-color: #D0D0D0;
    --orange: #EF6315;
    --orange-light: #f6d6cc;
}
  
body{
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}

.pl-7em{padding-left: 7em;}
    .pl-7em:before{
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background: var(--line-color);
        left: 3.25em;
        top: 0;
    }

.relative{position: relative;}

/* NAVBAR */
.navbar-nav .nav-link{color: var(--black);}
    .navbar-nav .nav-link.active, .navbar-nav .nav-link:hover{color: var(--orange);}
.small-h1{font-size: 1.25em;}

/* EXPERIENCE */
.experience{position: relative;}
    .experience:before{
        content:"" ;
        position: absolute;
        left: 0;
        top: 10em;
        width: 1px;
        height: 58%;
        background: var(--orange);
    }
    .experience li{
        position: relative;
    }
        .experience li:before{
            content: "";
            position: absolute;
            left: -1.875em;
            top: 0.280em;
            width: 12px;
            height: 12px;
            background: var(--orange);
            border-radius: 20px;
        }
        .experience li h3{
            font-size: 1em;
            font-weight: 700;
            margin-bottom: 0;
        }
        .experience li span{
            font-weight: 100;
        }


/* .logo, .logo-footer{
    height: 30px;
    width: auto;
}

@media only screen and (min-width: 767px) {
    .logo{
        height: 40px;
    }
    .margin-n{
        margin-left: -1.75em;
        margin-right: -1.75em;
    }
} */