@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


body{
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* color: #212529; */
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}

.pl-7em{padding-left: 7em;}
    .pl-7em:before{
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background: #D0D0D0;
        left: 3.25em;
        top: 0;
    }
.relative{position: relative;}

/* NAVBAR */
.navbar-nav .nav-link{color: #000;}
    .navbar-nav .nav-link.active, .navbar-nav .nav-link:hover{color: #EF6315;}
.small-h1{font-size: 1.25em;}




/* .logo, .logo-footer{
    height: 30px;
    width: auto;
}

@media only screen and (min-width: 767px) {
    .logo{
        height: 40px;
    }
    .margin-n{
        margin-left: -1.75em;
        margin-right: -1.75em;
    }
} */